<h3>Cadastro de Cursos</h3>

<form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
  <div *ngIf="mensagem" class="mb-3 alert alert-primary">
    <strong>{{mensagem}}</strong>
  </div>
  <div class="row g-3">
    <div class="col">
      <label>Nome do Curso</label>
      <input type="text" class="form-control" formControlName="descricao" placeholder="Digite o Nome do Curso" />
      <div class="text-danger" *ngIf="form.descricao.touched && form.descricao.invalid">
        <span *ngIf="form.descricao.errors.required">Por favor, informe o nome do curso*</span>
      </div>
    </div>
    <div class="col">
      <label>Data de Inicio</label>
      <input type="date" class="form-control" formControlName="dtInicio"  />
      <div class="text-danger" *ngIf="form.dtInicio.touched && form.dtInicio.invalid">
        <span *ngIf="form.dtInicio.errors.required">Por favor, insira a data de início*</span>
    </div>
    </div>

     <div class="col">
      <label>Data do Término</label>
      <input type="date" class="form-control" formControlName="dtTermino" />
      <div class="text-danger" *ngIf="form.dtTermino.touched && form.dtTermino.invalid">
        <span *ngIf="form.dtTermino.errors.required">Por favor, insira a data do término*</span>
      </div>
    </div>
  </div>
  <br>
  <div class="row mb-3">
    <div class="col-md-3">
    <label>Quantidade de Aluno</label>
    <input type="number" min="0" class="form-control" formControlName="qtdAluno"/>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <label>Categoria</label>
      <select name="categoria" id="categoria" formControlName="categoria" class="form-select" aria-label="Default select">
        <option value="Multiplataforma">Multiplataforma</option>
        <option value="Banco de Dados">Banco de dados</option>
        <option value="Metodologia">Metodologia</option>
        <option value="Comportamento">Comportamento</option>
        <option value="Comunicação">Comunicação</option>
      </select>
      <div class="text-danger" *ngIf="form.categoria.touched && form.categoria.invalid">
        <span *ngIf="form.categoria.errors.required">Por favor, Selecione a Categoria*</span>
      </div>
     </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="btn-group">
        <input type="submit" [disabled]="!formCadastro.valid"
      class="btn btn-success" value="Realizar Cadastro"/>
      <input class="btn btn-warning" class="btn btn-outline-warning" type="reset" value="Limpar"/>
        <a onclick="window.location.href = 'home'"  class="btn btn-outline-danger">Voltar</a>
      </div>

     </div>
  </div>
</form>
